<p>Let's pretend this is the zone for signed in users.</p>
<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>If you enjoy my videos, please subscribe to my channel,<br/>&ldquo;Make Programming Fun Again.&rdquo;</p>
  <p>More content on the website: <a href="https://makeprogramming.fun">https://makeprogramming.fun</a></p>
  <p>若您喜歡我的影片，懇請按讚並訂閱，謝謝！</p>
  <p>更多網頁開發相關的資源，請至<a href="https://makeprogramming.fun">https://makeprogramming.fun</a></p>
</section>
